
<div class="clear" ></div>
<div style="float: left">
  <h1>Listing tickets</h1>
  <table border="1">
    <tr>
      <th>No</th>
      <th>Code</th>
      <th>Departure</th>
      <th>Destination</th>
      <th>Type</th>
      <th>Class</th>
      <th>Want to order ?</th>
    </tr>

    <% @tickets.each_with_index do |ticket, i | %>
      <tr>
        <td><%= i + 1%></td>
        <td><%=ticket.code%></td>
        <td><%= ticket.departure.strftime("%d %B %y at %H:%M") unless ticket.departure.nil? %></td>
        <td><%=ticket.destination%></td>
        <td><%=ticket.ticket_type%></td>
        <td><%=ticket.ticket_class%></td>
        <% unless ticket.is_ordered %>
          <td> <%= link_to 'Order', new_ticket_order_path(:ticket_id => ticket.id)%> </td>
        <%end%>

      </tr>
    <% end %>
  </table>
  <br />
</div>