<div class="form_ticket">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <ul class="form">
      <li>
        <%=f.label :name%> :
      </li>
      <li>
        <%= f.text_field :name %>
      </li>
      <li>
        <%=f.label :address%> :
      </li>
      <li>
        <%= f.text_field :address%>
      </li>
      <li >
        <%=f.label :email%> :
      </li>
      <li>
        <%= f.text_field :email%>
      </li>
      <li >
        <%=f.label :card_number%> :
      </li>
      <li>
        <%= f.text_field :card_number%>
      </li>
    </ul>
    <br />
    <div class="actions" style="margin-left: 40px;">
      <%= f.submit %>
    </div>
  <% end %>
</div>