<h1>Listing users</h1>

<table border="1">
  <tr>
    <th class="user_list">Name</th>
    <th class="user_list">Address</th>
    <th class="user_list">Email</th>
    <th class="user_list">Card Number</th>
    <th class="user_list" colspan="3">Action</th>
  </tr>

  <div id="user_list_area">
    <% @users.each do |user| %>
      <tr>
        <td class="user_list"><%= user.name %></td>
        <td class="user_list"><%= user.address %></td>
        <td class="user_list"><%= user.email%></td>
        <td class="user_list"><%= user.card_number%></td>
        <td class="user_list"><%= link_to 'Show', user %></td>
        <td class="user_list"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="user_list"><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </div>
</table>

<br />

<%#= link_to 'New User', new_user_path %>
