
<p id="notice"><%= notice %></p>
<h2 style="text-align: left">User Profile</h2>
<div class="clear"></div>
<div style="border-top: 1px black solid"></div>
<div>
  <div style="float: left">
    <ul>
      <li style="padding: 3px;">Login : </li>
      <li style="padding: 3px;">Name : <%= @user.name%></li>
      <li style="padding: 3px;">Email : <%= @user.email%></li>
      <li style="padding: 3px;">Credit Card Number : <%= @user.card_number%></li>
      <li style="padding: 3px;">Address: <%= @user.address%></li>
   
    </ul>
    <%= link_to 'edit user profile', edit_user_path(@user) %>
  </div>
  
</div>