<p id="notice"><%= notice %></p>

<ul>
  <li>Code : <%= @ticket.code %></li>
  <li>Departure Date : <%= @ticket.departure.strftime("%d %B %Y") %></li>
  <li>Departure Time : <%= @ticket.departure.strftime("%H : %M ") %></li>
  <li>Destination : <%= @ticket.destination %></li>
  <li>Type : <%= @ticket.ticket_type %></li>
  <li>Class : <%= @ticket.ticket_class %></li>
</ul>
<%= link_to 'Back', tickets_path %>
