<div class="form_ticket">
  <%= form_for(@ticket , :url => admin_tickets_path) do |f| %>
    <% if @ticket.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <ul class="form">
      <li>
        <%= f.label :code %>:
      </li>
      <li>
        <%= f.text_field :code %>
      </li>
      <li>
        <%= f.label :destination %>:
      </li>
      <li>
        <%= f.text_field :destination %>
      </li>
      <li>
        <%= f.label :ticket_type %>:
      </li>
      <li>
        <%= f.select :ticket_type , options_for_select(["Luar Negeri", "Domestik"])%>
      </li>
      <li>
        <%= f.label :ticket_class %>:
      </li>
      <li>
        <%= f.select :ticket_class, options_for_select(["VVIP", "VIP", "Bisnis"])%>
      </li>
      <li>
        <%= f.label :departure_date%> :<br />
        <%= datetime_select("ticket", "departure", :prompt => true)%>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </li>
      <br />
      <div class="actions">
        <%= f.submit %>
      </div>
    </ul>
  <% end %>
</div>