<h1>Listing tickets</h1>

<table border="1">
  <tr>
    <th>No</th>
    <th>Code</th>
    <th>Departure</th>
    <th>Destination</th>
    <th>Type</th>
    <th>Class</th>
    <th>Status</th>
    <th>Want to order ?</th>
    <th colspan="3">Action</th>
  </tr>

  <% @tickets.each_with_index do |ticket, i | %>
    <tr>
      <td><%= i + 1%></td>
      <td><%=ticket.code%></td>
      <td><%= ticket.departure.strftime("%d %B %y at %H:%M") unless ticket.departure.nil? %></td>
      <td><%=ticket.destination%></td>
      <td><%=ticket.ticket_type%></td>
      <td><%=ticket.ticket_class%></td>
      <td><%= ticket.is_ordered == true ? "Ordered": "Free"%></td>
      <% unless ticket.is_ordered %>
        <td> <%= link_to 'Order', new_ticket_order_path(:ticket_id => ticket.id)%> </td>
      <%else%>
        <td> Ordered  </td>
      <%end%>
      <%if current_user.email == "admin@admin.com"%>
        <td><%= link_to 'Show', admin_ticket_path(ticket) %></td>
        <td><%= link_to 'Edit', edit_admin_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', admin_ticket_path(ticket), :confirm => 'Are you sure?', :method=> :delete %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'New Ticket', new_admin_ticket_path if current_user.email == "admin@admin.com" %>

