<%= form_for(@ticket_order) do |f| %>
  <% if @ticket_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_order.errors.count, "error") %> prohibited this ticket_order from being saved:</h2>
      <ul>
        <% @ticket_order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_ticket">
    <ul class="form">
      <li>
        <%= f.label :ticket%> :
        <%if params[:action] == 'edit'%>
          <%#raise @ticket_id.inspect%>
          <%= f.select :ticket_id, options_for_select(@tickets, :selected => @ticket_id )%>
        <%else%>
          <%= f.select :ticket_id, options_for_select(Ticket.where("is_ordered is false").map{|x| [x.code,x.id]}, :selected => @ticket_id)%>
        <%end%>
        
      </li>
      <li>
        <%= f.label :order_number%> :
        <%= f.text_field :order_number%>
      </li>
      <li>
        <%= f.label :order_date%> : <%= Time.now.strftime("%d %B %y")%>
      </li>
      <li>
        <%= f.label :sit_number%> :
        <%= f.text_field :sit_number%>
      </li>
      <div class="actions">
        <%= f.submit %>
      </div>
      <%= f.hidden_field "user_id", :value => current_user.id %>
    </ul>
  </div>
<br />
<% end %>
