<h1>Your Order Info :</h1>
<ul>
  <h3>Your Info </h3>
  <li>Name : <%= current_user.name %></li>
  <li>Address : <%= current_user.address %></li>
  <li>Card Number : <%= current_user.card_number %></li>
  <li>Email : <%= current_user.email %></li>
  <li>Address : <%= current_user.address %></li>
  <h3>Order : </h3>
  <li>Order Number : <%= @ticket_order.order_number %></li>
  <li>Order Date : <%= @ticket_order.order_date %></li>
  <li>Sit Number : <%= @ticket_order.sit_number%></li>
  <h3>Your Check Out Number is : </h3>
  <%="#{@ticket_order.order_number}-#{@ticket_order.ticket.ticket_class}-#{@ticket_order.order_date.strftime('%d%m%y')}"%>
</ul>

<%=link_to "Back", ticket_orders_path %> | <%= link_to "Home", root_path %><br /><br />