<h1>Listing of My ticket orders</h1>

<table border="1">
  <tr>
    <th>Order number</th>
    <th>Ticket number</th>
    <th>Order date</th>
    <th>Name</th>
    <th>Sit Number</th>
    <th>Status</th>
    <th>Payment</th>
    <th colspan="3">Action</th>
  </tr>

  <%if @ticket_orders%>
    <% @ticket_orders.each do |to| %>
      <tr>
        <td><%= to.order_number %></td>
        <td><%= to.ticket.code %></td>
        <td><%= to.order_date.strftime("%d %B %y") if to.order_date.present?%></td>
        <td><%= to.user.name %></td>
        <td><%= to.sit_number %></td>
        <td><%= to.is_paid == false ? "Unpaid" : "Paid"%></td>
        <td>
          <%if to.is_paid == false%>
            <%= link_to "Check Out", check_out_ticket_order_path(to)%>
          <%else%>
            Close
          <%end%>
        </td>
        <%if current_user.is_admin?%>
        <%unless to.is_paid%>
          <td><%= link_to 'Edit', edit_ticket_order_path(to) %></td>
        <%else%>
          <td>cannot edited</td>
        <%end%>
        <td><%= link_to 'Destroy', to, confirm: 'Are you sure?', :method=>:delete %></td>
        <%end%>
        <td><%= link_to 'Show', to %></td>

      </tr>
    <% end %>
  <%end%>
</table>

<br />

<%= link_to 'New Ticket order', new_ticket_order_path %> |
<%= link_to 'Home', root_path %>
