<h1>New order</h1>

<%= render 'form' %>
<%if params[:ticket_id]%>
  <%if current_user.is_admin?%>
    <%= link_to 'Back', admin_tickets_path %>
  <%else%>
    <%= link_to 'Back', tickets_path %>
  <%end%>
<%else%>
  <%= link_to 'Back', ticket_orders_path %>
<%end%>
