<p id="notice"><%= notice %></p>
<div>
  <ul>
    <li>Ticket Code : <%= @ticket_order.ticket.code %></li>
    <li>Order Number : <%= @ticket_order.order_number %></li>
    <li>Order Date : <%= @ticket_order.order_date.strftime("%d %B %y")%></li>
    <li>Sit Number : <%= @ticket_order.sit_number %></li>
    <li>Status : <%= @ticket_order.is_paid == false ? "Unpaid" : "Paid"%></li>
  </ul>
</div>

<%= link_to 'Edit', edit_ticket_order_path(@ticket_order) if current_user.is_admin? %> <br />
<%= link_to 'Back', ticket_orders_path %>
