/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.form ul  {
  list-style: none;
  margin: 7px;
}
.form li {
  list-style: none;
  padding-bottom: 5px;
  width: 500px;
}
.form label{
  list-style: none;
  width: 50px;
  margin: 7px;
  color: green;
}
.form_ticket{
    width: 500px;
    border: 1px solid grey;
}
.menu {
    float: left;
    width:160px;
    list-style: none;
}
.menu a {
    text-decoration: none;
}


